# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[package]
version = "0.2.34"
name = "bed-reader"
description = "Read and write the PLINK BED format, simply and efficiently."
repository = "https://github.com/fastlmm/bed-reader"
readme = "README-rust.md"
documentation = "https://docs.rs/bed-reader/latest/bed_reader/"
authors = ["FaST-LMM Team <fastlmm-dev@python.org>"]
exclude = ["tests/*", "doc/*", "docs/*"]
license = "Apache-2.0"
keywords = ["bioinformatics", "plink", "genomics", "genotype", "snps"]
categories = ["science"]
edition = "2021"
homepage = "https://fastlmm.github.io/"


[lib]
name = "bed_reader"
crate-type = ["cdylib", "rlib"]

[features]
# https://github.com/PyO3/pyo3/discussions/2271
# https://pyo3.rs/latest/faq.html#i-cant-run-cargo-test-or-i-cant-build-in-a-cargo-workspace-im-having-linker-issues-like-symbol-not-found-or-undefined-reference-to-_pyexc_systemerror
extension-module = ["pyo3/extension-module"]
default = ["extension-module"]

[dependencies]
thiserror = "1.0.40"
num-traits = "0.2.15"
ndarray-npy = { version = "0.8.1", default-features = false }
rayon = "1.7.0"
numpy = "0.18.0"
ndarray = { version = "0.15.6", features = ["approx", "rayon"] }
approx = "0.5.1"
statrs = "0.16.0"
byteorder = { version = "1.4.3", default-features = false }
pyo3 = { version = "0.18.3", features = ["extension-module"], optional = true }
dpc-pariter = "0.4.0"                                                           # //  pariter = "0.5.1"
derive_builder = "0.12.0"
temp_testdir = "0.2.3"
ureq = { version = "2.6.2", features = [] }
directories = "5.0.1"
sha2 = "0.10.6"
base16ct = { version = "0.2.0", features = ["alloc"] }
ctor = "0.2.0"
anyinput = { version = "0.1.6", features = ["ndarray"] }
fetch-data = "0.1.6"

[dev-dependencies]
ndarray-rand = "0.14.0"

[build-dependencies]
pyo3-build-config = "0.18.3"
