[project]
name = "bed-reader"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
]


[build-system]
requires = ["maturin==0.12.5"]
build-backend = "maturin"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.black]
line-length = 88

[tool.maturin]
# https://github.com/PyO3/pyo3/discussions/2271
cargo-extra-args = "--features extension-module"
requires-python = ">=3.7"
requires-dist = ["numpy>=1.13.3", "pandas>=0.25.1", "pooch>=1.1.1"]
Homepage = "https://fastlmm.github.io"
"Source Code" = "https://github.com/fastlmm/bed-reader"
"Bug Tracker" = "https://github.com/fastlmm/bed-reader/issues"
Documentation = "http://fastlmm.github.io/bed-reader"


[build]
# https://nnethercote.github.io/perf-book/compile-times.html
rustflags = ["-C", "link-arg=-fuse-ld=lld"]
