[project]
name = "bed-reader"
readme = "README.md"
classifiers = [
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python",
]
dependencies = ["numpy>=1.13.3", "pandas>=0.25.1", "pooch>=1.4.0", "chardet>=5.1.0"]

[project.urls]
Homepage = "https://fastlmm.github.io"
"Source Code" = "https://github.com/fastlmm/bed-reader"
"Bug Tracker" = "https://github.com/fastlmm/bed-reader/issues"
Documentation = "http://fastlmm.github.io/bed-reader"

[build-system]
requires = ["maturin>=0.14,<0.15"]
build-backend = "maturin"

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.black]
line-length = 88

[build]
# https://nnethercote.github.io/perf-book/compile-times.html
rustflags = ["-C", "link-arg=-fuse-ld=lld"]
