pytest
pytest-cov
pytest-doctestplus
pytest-datadir
limix-sphinx-theme>=0.0.4
pytest-sphinx>=0.2.2
sphinx>=6.2.1  # Updated version
sphinx-autoapi>=3.0.0  # Added Sphinx-AutoAPI
maturin>=1.5.0
isort>=5.11.0
black==23.3.0
pandas>=0.25.1
recommonmark>=0.7.1