name: Build and Deploy Documentation

on:
  push:
    branches:
      - oct24 # cmk
  workflow_dispatch:  # This allows manual triggering of the workflow

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v3

      - name: Install Python
        run: uv python install

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          override: true        

      - name: Setup, Lint, and Test Python
        run: |
          uv sync --extra dev --extra sparse --extra samples
          source .venv/bin/activate
          sphinx-build --version  # Verify Sphinx is installed

      - name: Build the Sphinx documentation
        working-directory: ./doc
        run: |
          source ../.venv/bin/activate
          make html

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: doc/build/html
